Application.Integration/Service References/wsSistran/Data.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Data" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.19.10.191/Sistran.IntegracionAseg/Data.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.19.10.191/Sistran.IntegracionAseg/Data.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.19.10.191/Sistran.IntegracionAseg/Data.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sistran.Application" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IData_GuardarAsegurados_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAsegurados" />
  </wsdl:message>
  <wsdl:message name="IData_GuardarAsegurados_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAseguradosResponse" />
  </wsdl:message>
  <wsdl:message name="IData_ConsultaAsegurados_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaAsegurados" />
  </wsdl:message>
  <wsdl:message name="IData_ConsultaAsegurados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaAseguradosResponse" />
  </wsdl:message>
  <wsdl:message name="IData_ConsultaConductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaConductos" />
  </wsdl:message>
  <wsdl:message name="IData_ConsultaConductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaConductosResponse" />
  </wsdl:message>
  <wsdl:message name="IData_GuardarConducto_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarConducto" />
  </wsdl:message>
  <wsdl:message name="IData_GuardarConducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarConductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IData">
    <wsdl:operation name="GuardarAsegurados">
      <wsdl:input wsaw:Action="http://tempuri.org/IData/GuardarAsegurados" message="tns:IData_GuardarAsegurados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IData/GuardarAseguradosResponse" message="tns:IData_GuardarAsegurados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaAsegurados">
      <wsdl:input wsaw:Action="http://tempuri.org/IData/ConsultaAsegurados" message="tns:IData_ConsultaAsegurados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IData/ConsultaAseguradosResponse" message="tns:IData_ConsultaAsegurados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaConductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IData/ConsultaConductos" message="tns:IData_ConsultaConductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IData/ConsultaConductosResponse" message="tns:IData_ConsultaConductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarConducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IData/GuardarConducto" message="tns:IData_GuardarConducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IData/GuardarConductoResponse" message="tns:IData_GuardarConducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IData" type="tns:IData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarAsegurados">
      <soap:operation soapAction="http://tempuri.org/IData/GuardarAsegurados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaAsegurados">
      <soap:operation soapAction="http://tempuri.org/IData/ConsultaAsegurados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaConductos">
      <soap:operation soapAction="http://tempuri.org/IData/ConsultaConductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarConducto">
      <soap:operation soapAction="http://tempuri.org/IData/GuardarConducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Data">
    <wsdl:port name="BasicHttpBinding_IData" binding="tns:BasicHttpBinding_IData">
      <soap:address location="http://172.19.10.191/Sistran.IntegracionAseg/Data.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>